@font-face {
    font-family: MarlinSoftBasic-Regular;
    src: url(assets/fonts/MarlinSoftBasic-Regular.woff2);
}

@font-face {
    font-family: scholar-italic;
    src: url(assets/fonts/scholar-italic.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: black;
}

.video-container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.video {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Send video behind content */
    object-fit: cover;
}

#front {
    filter: blur(7vw);
}

.how-i-feel {
    font-size: 6vw;
    color: aliceblue;
    font-family: MarlinSoftBasic-Regular;
}

.click-to-start {
    color: aliceblue;
    text-decoration: none;
    font-family: scholar-italic;
    font-weight: 100;
    width: 10vw;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    /* For horizontal scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #e2e2e2;
    /* Light grey background */
    border-radius: 10px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Darker grey */
    border-radius: 10px;
}

/* Hover effect on the scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Even darker grey */
}